<!doctype html>
<html>
<head>
    {% extends 'base.html' %}
    {% block title %}Application Form{% endblock %}
</head>
<body>
{% block content %}

<!--Form Header-->
  <div class="row">
    <section class="col col-xs-4 col-md-6 col-lg-6">
      <h2>Application Form</h2>
      <p>Please fill in the following information to apply to our company.</p>
    </section>
  </div>

<!-- Form with a post request -->
  <div class="row">

    <form class="col col-xs-4 col-md-6 col-lg-6" action="/application-success" method="post">
      First Name 
      <input type="text" name="first-name" required><br><br>

      <strong>Last Name</strong> 
      <input type="text" name="last-name" required><br><br>

      Salary Requirements 
      <input type="number" name="salary"><br><br>

      Which job are you applying for? 
      <select name="jobs_list">
      {% for job in jobs_list %}
        <option value="{{ job }}">{{ job }}</option>
      {% endfor %}
      </select><br><br>

      <!--submit button-->
      <input type="submit">
    </form>

{% endblock %}
</body>
</html>
